html,
body {
    padding: 0;
    margin: 0;
    font-family: Inter, Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    color-scheme: dark;
}

body {
    color: #ffffff;
    background: #191c1f;
    --color-primary: #fada3f;
    --color-secondary: #ff2136;
    --color-tertiary: #0294fe;
    --color-quaternary: #9b4dff;
    --card-background: #252133;
    --highlighted-background: #202326;
    font-weight: 400;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
}

h3 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    color: rgba(255, 255, 255, 0.7);
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: rgb(255, 255, 255);
    color: rgb(25, 28, 31) !important;
    background: rgb(255, 255, 255) !important;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 12px;
    padding: 6px 16px;
    font-weight: 600;
    font-family: inherit;
    transition: all 0.15s ease-in-out 0s;
}

    button:hover {
        cursor: pointer;
        background: rgb(255, 255, 255);
        border-color: rgb(255, 255, 255);
        color: rgb(25, 28, 31);
    }


@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    padding-bottom: 250px;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

:root {
    --black: #1c1e21;
    --white: #ffffff;
    --tw-color1: #a855f7;
    --tw-color1-hover: #9333ea;
}

body {
    background: var(--black);
    font-family: "Inter", sans-serif;
    color: var(--white);
    display: flex;
    margin: 0;
    text-align: center;
}

h2 {
    font-size: 2rem;
}
